In [1]:
import pandas as pd

In [ ]:
airlines_df = pd.read_csv(r"..\data\airlines.csv")


print(airlines_df.head())

  IATA_CODE                 AIRLINE
0        UA   United Air Lines Inc.
1        AA  American Airlines Inc.
2        US         US Airways Inc.
3        F9  Frontier Airlines Inc.
4        B6         JetBlue Airways

In [10]:
airports_df = pd.read_csv(r"..\data\airports.csv")
# flights_df = pd.read_csv("data/flights.csv")

print(airports_df.head())

  IATA_CODE                              AIRPORT         CITY STATE COUNTRY  \
0       ABE  Lehigh Valley International Airport    Allentown    PA     USA
1       ABI             Abilene Regional Airport      Abilene    TX     USA
2       ABQ    Albuquerque International Sunport  Albuquerque    NM     USA
3       ABR            Aberdeen Regional Airport     Aberdeen    SD     USA
4       ABY   Southwest Georgia Regional Airport       Albany    GA     USA

   LATITUDE  LONGITUDE
0  40.65236  -75.44040
1  32.41132  -99.68190
2  35.04022 -106.60919
3  45.44906  -98.42183
4  31.53552  -84.19447

In [12]:
flights_df = pd.read_csv(r"..\data\flights.csv")
print(flights_df.head())

C:\Users\herms\AppData\Local\Temp\ipykernel_36332\1137956796.py:1: DtypeWarning: Columns (7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  flights_df = pd.read_csv(r"..\data\flights.csv")

   YEAR  MONTH  DAY  DAY_OF_WEEK AIRLINE  FLIGHT_NUMBER TAIL_NUMBER  \
0  2015      1    1            4      AS             98      N407AS
1  2015      1    1            4      AA           2336      N3KUAA
2  2015      1    1            4      US            840      N171US
3  2015      1    1            4      AA            258      N3HYAA
4  2015      1    1            4      AS            135      N527AS

  ORIGIN_AIRPORT DESTINATION_AIRPORT  SCHEDULED_DEPARTURE  ...  ARRIVAL_TIME  \
0            ANC                 SEA                    5  ...         408.0
1            LAX                 PBI                   10  ...         741.0
2            SFO                 CLT                   20  ...         811.0
3            LAX                 MIA                   20  ...         756.0
4            SEA                 ANC                   25  ...         259.0

   ARRIVAL_DELAY  DIVERTED  CANCELLED  CANCELLATION_REASON  AIR_SYSTEM_DELAY  \
0          -22.0         0          0                  NaN               NaN
1           -9.0         0          0                  NaN               NaN
2            5.0         0          0                  NaN               NaN
3           -9.0         0          0                  NaN               NaN
4          -21.0         0          0                  NaN               NaN

   SECURITY_DELAY  AIRLINE_DELAY  LATE_AIRCRAFT_DELAY  WEATHER_DELAY
0             NaN            NaN                  NaN            NaN
1             NaN            NaN                  NaN            NaN
2             NaN            NaN                  NaN            NaN
3             NaN            NaN                  NaN            NaN
4             NaN            NaN                  NaN            NaN

[5 rows x 31 columns]

In [13]:
for column in flights_df.columns:
    print(column,':',pd.api.types.infer_dtype(flights_df[column]))

YEAR : integer
MONTH : integer
DAY : integer
DAY_OF_WEEK : integer
AIRLINE : string
FLIGHT_NUMBER : integer
TAIL_NUMBER : string
ORIGIN_AIRPORT : mixed-integer
DESTINATION_AIRPORT : mixed-integer
SCHEDULED_DEPARTURE : integer
DEPARTURE_TIME : floating
DEPARTURE_DELAY : floating
TAXI_OUT : floating
WHEELS_OFF : floating
SCHEDULED_TIME : floating
ELAPSED_TIME : floating
AIR_TIME : floating
DISTANCE : integer
WHEELS_ON : floating
TAXI_IN : floating
SCHEDULED_ARRIVAL : integer
ARRIVAL_TIME : floating
ARRIVAL_DELAY : floating
DIVERTED : integer
CANCELLED : integer
CANCELLATION_REASON : string
AIR_SYSTEM_DELAY : floating
SECURITY_DELAY : floating
AIRLINE_DELAY : floating
LATE_AIRCRAFT_DELAY : floating
WEATHER_DELAY : floating

In [26]:
for column in flights_df.columns:
    if (flights_df[column]).dtype == 'int64':
        flights_df[column] = flights_df[column].astype('int32')
    elif (flights_df[column]).dtype == 'float64':
        flights_df[column] = flights_df[column].astype('float32')

In [27]:
for column in flights_df.columns:
    print ((flights_df[column]).dtype)

int32
int32
int32
int32
object
int32
object
object
object
int32
float32
float32
float32
float32
float32
float32
float32
int32
float32
float32
int32
float32
float32
int32
int32
object
float32
float32
float32
float32
float32

In [14]:
flights_df[['ORIGIN_AIRPORT', 'DESTINATION_AIRPORT']]= flights_df[['ORIGIN_AIRPORT', 'DESTINATION_AIRPORT']].astype(str)

In [16]:
average_delay_per_airline = flights_df.groupby(by='AIRLINE')[['ARRIVAL_DELAY', 'DEPARTURE_DELAY']].mean()
average_delay_per_airline

         ARRIVAL_DELAY  DEPARTURE_DELAY
AIRLINE
AA            3.451372         8.900856
AS           -0.976563         1.785801
B6            6.677861        11.514353
DL            0.186754         7.369254
EV            6.585379         8.715934
F9           12.504706        13.350858
HA            2.023093         0.485713
MQ            6.457873        10.125188
NK           14.471800        15.944766
OO            5.845652         7.801104
UA            5.431594        14.435441
US            3.706209         6.141137
VX            4.737706         9.022595
WN            4.374964        10.581986